*,
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Proxima-nova";
}

@media (min-width: 1200px) {
  html {
    height: 100%;
  }
}

body {
  background-color: #f27d59;
  max-width: 1366px;
  margin: auto;
}

@media (min-width: 768px) {
  body {
    padding: 1.2rem;
  }
}

@media (min-width: 1200px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 900px;
  }
}

header {
  background-color: #ffe0d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

@media (min-width: 1200px) {
  header {
    min-width: 40%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding-bottom: 2rem;
    border-radius: 0 0 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header h2 {
  font-size: 25pt;
  font-weight: 600;
  margin: 1.5rem;
}

header .logo {
  margin: 1.2rem 0 1.2rem 1.2rem;
}

.form-section {
  padding: 2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .form-section {
    border-radius: 30px 0 0 30px;
    padding: 3rem 6rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 60%;
  }
}

.form-section h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #413c3d;
}

@media (min-width: 1200px) {
  .form-section h1 {
    margin-bottom: 3rem;
  }
}

.form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .form-section form > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-section form > div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.5%;
            flex: 0 0 48.5%;
  }
  .form-section form > div > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-section form .submit-group {
  margin-top: auto;
}

.form-section form label {
  font-size: 1.2rem;
  font-weight: 500;
}

.form-section form .inputField,
.form-section form #city-select {
  margin: 0.6rem 0 2rem 0;
}

.form-section form .inputField {
  width: 100%;
  height: 56px;
  padding-left: 1.2rem;
  padding-top: 0.3rem;
  border-radius: 5px;
  border: 1px solid #695c5f;
}

.form-section form .inputField::-webkit-input-placeholder {
  color: #898989;
  font-size: 1.1rem;
}

.form-section form .inputField:-ms-input-placeholder {
  color: #898989;
  font-size: 1.1rem;
}

.form-section form .inputField::-ms-input-placeholder {
  color: #898989;
  font-size: 1.1rem;
}

.form-section form .inputField::placeholder {
  color: #898989;
  font-size: 1.1rem;
}

.form-section form #city-select {
  width: 100%;
  height: 56px;
  border-radius: 6px;
  border: 1px solid #707070;
  color: #a8a8a8;
  font-size: 1.1rem;
  padding-left: 1.4rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("img/Arrow_down.svg");
  background-repeat: no-repeat;
  background-position: right;
}

@media (min-width: 768px) {
  .form-section form #city-select {
    width: 50%;
  }
}

.form-section form a {
  font-size: 1.2rem;
  color: #919191;
}

.form-section form #btnSubmit {
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
  border: none;
  margin: 2rem 0 0 0;
  background-color: #413c3d;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .form-section form #btnSubmit {
    margin: 0;
    width: 30%;
  }
}

.info {
  background-color: #ffe0d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.info div {
  margin-left: 2rem;
}

@media (min-width: 768px) {
  .info div {
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .info {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .info {
    border-radius: 0 30px 0 0;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info div {
    margin-left: 0;
  }
}

.info img {
  width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .info img {
    width: 50%;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .info img {
    width: 95%;
  }
}

.info h3 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  .info h3 {
    font-size: 1.7rem;
    margin-top: 2rem;
  }
}

.info ul li {
  padding-left: 1rem;
  margin: 1rem 1rem;
}
/*# sourceMappingURL=style.css.map */